<section class="tab {{tabs.items.id}} {{tabs.items.cssClass}} scrollable" id="items" data-tab="{{tabs.items.id}}" data-group="{{tabs.items.group}}">
    <fieldset>
        <legend>Competenze marziali ( <span class="fu-martial"></span> )</legend>
        <div class="form-group">
            <div class="form-fields">
                <label for="system.martial.melee">Armi da mischia ( <span class="fu-melee"></span> )</label>
                <input type="checkbox" name="system.martial.melee" id="system.martial.melee" {{#if system.martial.melee}}checked{{/if}} />
            </div>

            <div class="form-fields">
                <label for="system.martial.ranged">Armi a distanza ( <span class="fu-ranged"></span> )</label>
                <input type="checkbox" name="system.martial.ranged" id="system.martial.ranged" {{#if system.martial.ranged}}checked{{/if}} />
            </div>
            
            <div class="form-fields">
                <label for="system.martial.armor">Armature</label>
                <input type="checkbox" name="system.martial.armor" id="system.martial.armor" {{#if system.martial.armor}}checked{{/if}} />
            </div>
            
            <div class="form-fields">
                <label for="system.martial.shield">Scudi</label>
                <input type="checkbox" name="system.martial.shield" id="system.martial.shield" {{#if system.martial.shield}}checked{{/if}} />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Equipaggiamento</legend>
        <div class="form-group">
            <label for="system.equip.armor">Armatura</label>
            <div class="form-fields">
                <input type="text" name="system.equip.armor" id="system.equip.armor" value="{{system.equip.armor}}" readonly />
                <a class="button" data-action="equipItem" data-uuid="{{system.equip.armor}}" data-tooltip="Disequipaggia" {{#unless system.equip.armor}}disabled{{/unless}}>
                    <i class="fa fa-shield-halved"></i>
                </a>
                <a class="button" data-uuid="{{system.equip.armor}}" data-link {{#unless system.equip.armor}}disabled{{/unless}}>Apri</a>
            </div>
        </div>
        <div class="form-group">
            <label for="system.equip.mainHand">Mano Principale</label>
            <div class="form-fields">
                <input type="text" name="system.equip.mainHand" id="system.equip.mainHand" value="{{system.equip.mainHand}}" readonly />
                <a class="button" data-action="equipItem" data-uuid="{{system.equip.mainHand}}" data-tooltip="Disequipaggia" {{#unless system.equip.mainHand}}disabled{{/unless}}>
                    <i class="fa fa-shield-halved"></i>
                </a>
                <a class="button" data-uuid="{{system.equip.mainHand}}" data-link {{#unless system.equip.mainHand}}disabled{{/unless}}>Apri</a>
            </div>
        </div>
        <div class="form-group">
            <label for="system.equip.offHand">
                Mano Secondaria
                {{#if (and system.equip.offHand (eq system.equip.mainHand system.equip.offHand))}}
                    ( Due Mani )
                {{/if}}
            </label>
            <div class="form-fields">
                <input type="text" name="system.equip.offHand" id="system.equip.offHand" value="{{system.equip.offHand}}" readonly />
                <a 
                    class="button" 
                    data-action="equipItem" 
                    data-uuid="{{system.equip.offHand}}" 
                    data-tooltip="Disequipaggia" 
                    {{#if (or (not system.equip.offHand) (eq system.equip.mainHand system.equip.offHand))}}disabled{{/if}}
                >
                    <i class="fa fa-shield-halved"></i>
                </a>
                <a 
                    class="button" 
                    data-uuid="{{system.equip.offHand}}" 
                    data-link
                    {{#if (or (not system.equip.offHand) (eq system.equip.mainHand system.equip.offHand))}}disabled{{/if}}
                >
                    Apri
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="system.equip.accessory">Accessorio</label>
            <div class="form-fields">
                <input type="text" name="system.equip.accessory" id="system.equip.accessory" value="{{system.equip.accessory}}" readonly />
                <a class="button" data-action="equipItem" data-uuid="{{system.equip.accessory}}" data-tooltip="Disequipaggia" {{#unless system.equip.accessory}}disabled{{/unless}}>
                    <i class="fa fa-shield-halved"></i>
                </a>
                <a class="button" data-uuid="{{system.equip.accessory}}" data-link {{#unless system.equip.accessory}}disabled{{/unless}}>Apri</a>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Inventario</legend>
        {{!-- Armi --}}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Armi</th>
                    <th>2 Mani</th>
                    <th>Rarità</th>
                    <th>Precisione</th>
                    <th>Danno</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each weapons}}
                    {{#unless this.system.equipped}}
                    <tr>
                        <td style="width: 60px;"><img src="{{this.img}}" alt="{{this.name}}"></td>
                        <td>
                            {{#if (eq this.system.range "melee")}}( <span class="fu-melee" data-tooltip="Mischia"></span> ){{/if}}
                            {{#if (eq this.system.range "ranged")}}( <span class="fu-ranged" data-tooltip="A distanza"></span> ){{/if}}
                            {{this.name}} 
                            {{#if this.system.martial}}<span class="fu-martial" data-tooltip="Marziale"></span>{{/if}}
                        </td>
                        <td>
                            {{#if this.system.twoHanded}}Sì{{else}}No{{/if}}
                        </td>
                        <td>{{localize (concat "ULTIMA.rarities." this.system.rarity)}}</td>
                        <td>
                            {{localize (concat "ULTIMA.attributes." this.system.accuracy.primary ".short")}} 
                            +
                            {{localize (concat "ULTIMA.attributes." this.system.accuracy.secondary ".short")}}
                            {{#unless (eq this.system.accuracy.bonus 0)}}
                                {{#if this.system.accuracy.bonus}}+ {{/if}}{{this.system.accuracy.bonus}} 
                            {{/unless}}
                        </td>
                        <td>
                            TM 
                            {{#if this.system.damage.value}}+ {{/if}}{{this.system.damage.value}}
                            {{localize (concat "ULTIMA.damageTypes." this.system.damage.type)}}
                        </td>
                        <td>
                            <div class="form-fields">
                                <a
                                    class="button" 
                                    data-action="equipItem" 
                                    data-uuid="{{this.uuid}}" 
                                    data-tooltip="Equipaggia" 
                                    {{#if (and this.system.martial (or (and (eq this.system.range "melee") (not @root.system.martial.melee)) (and (eq this.system.range "ranged") (not @root.system.martial.ranged))))}}disabled{{/if}}
                                >
                                    <i class="fa fa-shield-halved"></i>
                                </a>
                                <a class="button" data-uuid="{{this.uuid}}" data-link>Apri</a>
                            </div>
                        </td>
                    </tr>
                    {{/unless}}
                {{/each}}
            </tbody>
        </table>

        {{!-- Armature --}}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Armature</th>
                    <th>Rarità</th>
                    <th>DEF</th>
                    <th>M. DEF</th>
                    <th>INIT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each armors}}
                    {{#unless this.system.equipped}}
                    <tr>
                        <td style="width: 60px;"><img src="{{this.img}}" alt="{{this.name}}"></td>
                        <td>{{this.name}} {{#if this.system.martial}}<span class="fu-martial" data-tooltip="Marziale"></span>{{/if}}</td>
                        <td>{{localize (concat "ULTIMA.rarities." this.system.rarity)}}</td>
                        <td>
                            {{#if (eq this.system.bonus.def 0)}}
                            -
                            {{else}}
                                {{localize (concat "ULTIMA.attributes." this.system.bonus.attributes.def ".short")}} 
                                {{#if this.system.bonus.def}}+ {{/if}}{{this.system.bonus.def}}
                            {{/if}}
                        </td>
                        <td>
                            {{#if (eq this.system.bonus.mdef 0)}}
                            -
                            {{else}}
                                {{localize (concat "ULTIMA.attributes." this.system.bonus.attributes.mdef ".short")}} 
                                {{#if this.system.bonus.mdef}}+ {{/if}}{{this.system.bonus.mdef}}
                            {{/if}}
                        </td>
                        <td>{{#unless (eq this.system.bonus.init 0)}}{{this.system.bonus.init}} {{else}} - {{/unless}}</td>
                        <td>
                            <div class="form-fields">
                                <a
                                    class="button" 
                                    data-action="equipItem" 
                                    data-uuid="{{this.uuid}}" 
                                    data-tooltip="Equipaggia" 
                                    {{#if (and this.system.martial (not @root.system.martial.armor))}}disabled{{/if}}
                                >
                                    <i class="fa fa-shield-halved"></i>
                                </a>
                                <a class="button" data-uuid="{{this.uuid}}" data-link>Apri</a>
                            </div>
                        </td>
                    </tr>
                    {{/unless}}
                {{/each}}
            </tbody>
        </table>
        
        {{!-- Scudi --}}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Scudi</th>
                    <th>Rarità</th>
                    <th>DEF</th>
                    <th>M. DEF</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each shields}}
                    {{#unless this.system.equipped}}
                    <tr>
                        <td style="width: 60px;"><img src="{{this.img}}" alt="{{this.name}}"></td>
                        <td>{{this.name}} {{#if this.system.martial}}<span class="fu-martial" data-tooltip="Marziale"></span>{{/if}}</td>
                        <td>{{localize (concat "ULTIMA.rarities." this.system.rarity)}}</td>
                        <td>Def: {{#if this.system.bonus.def}}+ {{this.system.bonus.def}} {{else}} - {{/if}}</td>
                        <td>M. Def: {{#if this.system.bonus.mdef}}+ {{this.system.bonus.mdef}} {{else}} - {{/if}}</td>
                        <td>
                            <div class="form-fields">
                                <a
                                    class="button" 
                                    data-action="equipItem" 
                                    data-uuid="{{this.uuid}}" 
                                    data-tooltip="Equipaggia" 
                                    {{#if (and this.system.martial (not @root.system.martial.shield))}}disabled{{/if}}
                                >
                                    <i class="fa fa-shield-halved"></i>
                                </a>
                                <a class="button" data-uuid="{{this.uuid}}" data-link>Apri</a>
                            </div>
                        </td>
                    </tr>
                    {{/unless}}
                {{/each}}
            </tbody>
        </table>

        {{!-- Accessori --}}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Accessori</th>
                    <th>Rarità</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each accessories}}
                    {{#unless this.system.equipped}}
                    <tr>
                        <td style="width: 60px;"><img src="{{this.img}}" alt="{{this.name}}"></td>
                        <td>{{this.name}}</td>
                        <td>{{localize (concat "ULTIMA.rarities." this.system.rarity)}}</td>
                        <td>
                            <div class="form-fields">
                                <a class="button" data-action="equipItem" data-uuid="{{this.uuid}}" data-tooltip="Equipaggia">
                                    <i class="fa fa-shield-halved"></i>
                                </a>
                                <a class="button" data-uuid="{{this.uuid}}" data-link>Apri</a>
                            </div>
                        </td>
                    </tr>
                    {{/unless}}
                {{/each}}
            </tbody>
        </table>
    </fieldset>
</section>