<section class="tab {{tabs.items.id}} {{tabs.items.cssClass}} scrollable" id="items" data-tab="{{tabs.items.id}}" data-group="{{tabs.items.group}}">

    <fieldset>
        <legend class="form-group">
            Oggetti
            <div class="form-fields">
                <a class="button" data-action="createItem" data-type="basic">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </legend>
        <div class="form-fields" style="justify-content:flex-start;">
            {{#each basics}}
                <a style="flex:0 0 40px; padding:0.2rem; height:auto" class="button" data-uuid="{{this.uuid}}" data-tooltip="{{this.name}}" data-link>
                    <img src="{{this.img}}" alt="{{this.name}}">
                </a>
            {{/each}}
        </div>
    </fieldset>
    
</section>