<header class="img-name">
    <img src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}" data-edit="img" data-action="editImage" />
    <input type="text" name="name" value="{{actor.name}}" />
    <h1 style="margin: 0;">Livello: {{system.level.current}}</h1>
</header>