<fieldset>
	<legend>
		{{lookup (lookup gameClasses formData.levelUp.class) "name"}}
	</legend>

	{{#each (lookup gameSkills formData.levelUp.class) as |skill skillIndex|}}
		<div class="form-group" style="{{#if (eq (lookup ../skills.levels skill.system.ultimaID) (lookup ../skills.maxLevels skill.system.ultimaID))}}opacity:.5;{{/if}}">
			<label class="form-fields" style="justify-content:flex-start;" for="levelUp.skill-{{skill.system.ultimaID}}">
				<a class="button" data-uuid="{{skill.uuid}}" data-link>{{skill.name}}</a>
			</label>
			<div class="form-fields">
				<p>
					Livello: 
					{{#if (eq (lookup ../skills.levels skill.system.ultimaID) (lookup ../skills.maxLevels skill.system.ultimaID))}}
						MAX
					{{else}}
						{{lookup ../skills.levels skill.system.ultimaID}}
						<i class="fa fa-arrow-right"></i>
						{{lookup ../skills.maxLevels skill.system.ultimaID}}
					{{/if}}
				</p>
				<input 
					type="radio"
					name="levelUp.skill"
					id="levelUp.skill-{{skill.system.ultimaID}}"
					value="{{skill.system.ultimaID}}"
					{{#if (eq ../formData.levelUp.skill skill.system.ultimaID)}}checked{{/if}}
					{{#if (eq (lookup ../skills.levels skill.system.ultimaID) (lookup ../skills.maxLevels skill.system.ultimaID))}}disabled{{/if}}
				>
			</div>
		</div>
	{{/each}}

</fieldset>